DEBUG=true
MAINTENANCE_MODE=false

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=example
MAIL_PASSWORD=example
MAIL_FROM=noreply@example.com

MAILGUN_API_KEY=
MAILGUN_DOMAIN_NAME=
MAILGUN_MAIL_FROM=
