<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".cache/phpunit"
    failOnWarning="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="app-feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
</phpunit>
